@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.perspective {
  perspective: 1000px;
}

.transform-style {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.smallNav {
  text-decoration: none;
  transition: all 0.3s ease;
  border-radius: 8px;
  position: relative;
}

.smallNav::after {
  content: "";
  position: absolute;
  width: 0;
  background-color: rgba(214, 229, 250, 0.4); /* #A6A6A6 with opacity */
  left: 50%;
  transform: translateX(-50%);
  bottom: -0.25em;
  height: 2px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.smallNav:hover::after {
  width: 100%;
  animation: pulse11 1s;
  box-shadow: 0 0 0 1em transparent;
}

@keyframes pulse11 {
  0% {
    box-shadow: 0 0 0 0 rgba(90, 175, 209, 0.616);
  }
  100% {
    box-shadow: 0 0 0 1em transparent;
  }
}
