@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
.scrollable {
  height: fit-content;
  max-height: 90%;
  overflow-y: auto;
  -webkit-mask-image: linear-gradient(to top, transparent 0%, black 15%, black 85%, transparent 100%);
  mask-image: linear-gradient(to top, transparent 0%, black 15%, black 85%, transparent 100%);
}

/* For WebKit browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 6px; /* Slim width */
}

::-webkit-scrollbar-track {
  background: rgb(5, 46, 46); /* Background of the track */
}

::-webkit-scrollbar-thumb {
  background-color: #e2eef7; /* Scroll thumb color */
  border-radius: 10px;     /* Rounded edges */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #0e2e44 /* Color on hover */
}

/* For Firefox */
html {
  scrollbar-width: thin;       /* Makes it thin */
  scrollbar-color: #0e2e44; /* thumb color, track color */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.perspective {
  perspective: 1000px;
}

.transform-style {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.smallNav {
  text-decoration: none;
  transition: all 0.3s ease;
  border-radius: 8px;
  position: relative;
}

.smallNav::after {
  content: "";
  position: absolute;
  width: 0;
  background-color: rgba(214, 229, 250, 0.4); /* #A6A6A6 with opacity */
  left: 50%;
  transform: translateX(-50%);
  bottom: -0.25em;
  height: 2px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.smallNav:hover::after {
  width: 100%;
  animation: pulse11 1s;
  box-shadow: 0 0 0 1em transparent;
}

@keyframes pulse11 {
  0% {
    box-shadow: 0 0 0 0 rgba(90, 175, 209, 0.616);
  }
  100% {
    box-shadow: 0 0 0 1em transparent;
  }
}


@keyframes float-up {
  0% { transform: translateY(0) scale(1); opacity: 0; }
  20% { opacity: 0.5; }
  100% { transform: translateY(-110vh) scale(1.5); opacity: 0; }
}

.animate-float-up {
  animation: float-up linear infinite;
}

@keyframes slide-wave {
  from {
    transform: translateX(0);
  }
  to {
    /* Slide exactly half the width of the 200% wide SVG */
    transform: translateX(-50%);
  }
}

.animate-slide-wave {
  /* 8 seconds for a visible, steady "regular" motion */
  animation: slide-wave 8s linear infinite;
}
.animate-slide-wave2 {
  /* 8 seconds for a visible, steady "regular" motion */
  animation: slide-wave 4s linear infinite;
}
